<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div text-center>
          <h4>Login Form</h4>
        </div>
        <div padding>
            <ion-item>
                <ion-input  id="name"
                            name="name"
                            #inputName
                            #name="ngModel"
                            [(ngModel)]="user.name" 
                            (keypress)="keyPressNameInput($event)"
                            type="text" 
                            required
                            placeholder="Email or Username"></ion-input>
            </ion-item>
  
          <ion-item>
              <ion-input  id="password"
                          name="password"
                          #inputPassword
                          #password="ngModel"
                          [(ngModel)]="user.password" 
                          (keypress)="keyPressPasswordInput($event)"
                          type="password" 
                          required
                          placeholder="Password"></ion-input>
          </ion-item>
          <ion-label position="stacked" *ngIf="!name.valid && !name.pristine" color="danger">
            Valid email is required
          </ion-label>
          <ion-label position="stacked" *ngIf="!password.valid && !password.pristine" color="danger">
            Password is required
          </ion-label>
        </div>
  
        <div padding text-center>
            <ion-spinner slot="middle" name="dots" color="primary" *ngIf="isLoading" ></ion-spinner>
            <ion-button type="submit" size="large" [disabled]="!userForm.valid" expand="block">Login</ion-button>
            <ion-button (click)="register()" size="large"  expand="block">Register</ion-button>
            
            <ion-button (click)="forgotPassword()" size="small">Forgot Password</ion-button>
        </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
