
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()"  >
              <ion-icon name="arrow-back" ></ion-icon>
            </ion-button>
            <ion-icon  (click)="taskChecked()" [name]="printDone(item.done)" 
              color="secondary" slot="start"></ion-icon>
        </ion-buttons>
        <ion-input  
              [(ngModel)]="item.title" 
              type="text" 
              clearInput
              size="12"
              placeholder="Title"></ion-input>

        <ion-buttons slot="end">
           
        </ion-buttons>
    </ion-toolbar>



  <ion-content >
    <ion-list lines="none" >
      <ion-item>
          <ion-icon  (click)="todayClicked()" name="sunny" 
             color="{{todayColor()}}" slot="start"></ion-icon>
          <ion-text  (click)="todayClicked()" color="{{todayColorLabel()}}">{{printTodayLabel()}}</ion-text>
          <ion-icon  (click)="importantClicked()" name="star"  slot="end"
             color="{{printImportantIconColor()}}" ></ion-icon>
      </ion-item>
      <ion-item>
            <ion-text (click)="dueDateClicked()" 
                color="dark">
                {{displayDueDate()}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-textarea  id="note"
                      name="note"
                      #note="ngModel"
                      [(ngModel)]="item.note" 
                      type="text" 
                      placeholder="Note"></ion-textarea>
          <ion-label position="stacked" color="secondary">
              Optional, Write detail informaiton, and references here.
          </ion-label>   
      </ion-item>
    </ion-list>
     
    <ion-fab vertical="bottom" horizontal="end" mini slot="fixed">
      <ion-fab-button mini (click)="removeItem()">
        <ion-icon name="trash" mini></ion-icon>
      </ion-fab-button>
    </ion-fab>
      
    </ion-content>
    