<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div text-center>
              <h4>Register</h4>
            </div>
            <div padding>
              <ion-item>
                <ion-input  id="name" 
                            name="name"
                            #name="ngModel"
                            [(ngModel)]="user.name" 
                            type="text" 
                            required
                            placeholder="Username or Email"></ion-input>
              </ion-item>
  
      
                <ion-label position="stacked" *ngIf="!name.valid && !name.pristine" color="danger">
                    Name or Email is required
                </ion-label>
                
                <ion-label position="stacked" *ngIf="errors != ''" color="danger">
                        {{errors}}
                </ion-label>
            </div>
      
            <div padding>
              <ion-spinner slot="middle" name="dots" color="primary" *ngIf="isLoading" ></ion-spinner>
              <ion-button type="submit" size="large" [disabled]="!userForm.valid" expand="block">New Password</ion-button>
              <ion-button (click)="login()" size="large"  expand="block">Login</ion-button>
              
            </div>
          </form>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
  